@media(max-width:992px){
    .container{
        max-width: 992px;
        margin: 0 auto;
        width: 100%;
    }
    .containers{
        max-width: 992px;
        /* margin: 0; */
        width: 100%;
    }
    .container-1{
        max-width: 992px;
        width: 100%;
    }
    html{
        /* font-size: 50%; */
    }
    .xl{
      
        display: none;
    }
    .md{
        display: none;
    }
    .lg{
        display: block;

    }
    .back_btn{
        width: 4.2rem;
        height: auto;
    }
    
 /*******************************/
 /****** section hero****/
/*******************************/
.section-hero{
    padding-top: 4.8rem;
} 


/*******************************/
 /******butterslide section****/
/*******************************/

    .heading-primary{
        font-size: 4.2rem;
        margin-left: 18px;
        text-shadow: 0px 0 black, 0 2px black, 2px 0 black, 0 3px black;
    }
    .rect-img{
        
        height: 38rem;
    }
   
    .butter-p{
        padding: 0;
        margin: 10px 0 0 0;
        font-size: 1.6rem;
        letter-spacing: -0.5px;
        margin-left: 50px;
        width: 40%;


    }
    .grid{
        align-items: end;
    }
    
    .but-pp{
        font-size: 1.6rem;
        
        /* padding: 24px 36px; */
        line-height: 1.4;
        border-radius: 14px;
    }
    .yello{
        border-radius: 14px;
        
    }
    .arrow-img{
        width: auto;
        height: 52px;
        margin:8px 0; 
    }
    .learn-btn{
        border: 1.5px solid black;
        font-size: 1.6rem;
   
    }
   
    .scale-tab{
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        
    }
    .ss{
        display: flex;

    }
/*******************************/
/******polygon section****/
/*******************************/
    .polygon{
        margin-bottom: 16rem;
    }
    .polygon-heading{
        font-size:4.2rem;
    }
    .ul-head{
        font-size: 22px;    
    }
    .li-poly::marker{
        font-size: 6rem;
        
    }
    .span1 {
        position: relative;
        left: 0;
        bottom: 11px;
    }
    .lo-img{
        height: 159px;
        width: auto;
        position: absolute;
        top: 40px;
        right: 65px;
    }

/*******************************/
 /******NFT-black section****/
/*******************************/
   
    .nft-polygon{
        padding: 0;
        margin: 0;
  box-shadow: 17px 20px red;
  padding: 6rem 6rem 12rem 6rem;
    }
    .nft-head {
        font-size: 5.4rem;
        color: white;
        font-family: "Supply-Regular";
        margin-bottom: 3.2rem;
    }
    .trans-img{
        height: auto;
        width: 230px;
    }
    .nft-flex{
            display: flex;
        grid-template-columns: 150px  2fr;
    }
    .nft-text{
        font-size: 2.2rem;
    }
    .ex-mark{
        font-size: 245px;
        top: -159px;
        text-shadow: 2.5px 3.3px #FFf;
    }
/***********************/
/*********scale********/
/***********************/
    .heading-scale{
    
        font-size: 4.9rem;
    }
    .p-scale{
        font-size: 2.2rem;
     

     }
     .bg-y{
         font-size: 1.4rem;
         padding: 1.2rem 9rem
         
        }
        .bg-g{
         font-size: 1.4rem;
         padding: 1.2rem 9rem
     }
     .ul-bg{
        padding: 32px 50px;
        font-size: 2.3rem;
        border-radius: 18px
     }
     .li-scale::marker{
        font-size: 3.6rem;
     }
     .li-scale{
        margin-bottom: 1.4rem;
     }
  
/***********************/
/*********chief********/
/***********************/
    .h1-when{
        font-size: 5.2rem;
    }
    .chief-ul{
        font-size: 2.2rem;
    }
    .li-chief::marker {
        font-size: 6rem;
    }
    .span2{
        left: -4px;
    bottom: 12px;
    }
    .chief-img{
        width: 210px;
        height: auto;
    }
    .bg-w{
        display: flex;
    }
    .chief-name{
        font-size:2.8rem ;
    }
    .role{
        font-size: 2rem;
    }
    .twitter{
        width: auto;
        height: 48px;
    }
    .twitter-img{
        width: 52px;
        height: auto ;
    }
 /***********************/
/*********footer********/
/***********************/
    .footer-reach{
           font-size: 2.2rem;
     }
    .contact{
        font-size: 3.6rem;
    
        margin-bottom: 47px;
    }
    .foot-icon{
        width: 34px ;
        height: auto;
        padding: 1px 1px 1px 2px;
        

    }
    .icon-f{
        width: 32px ;
        height: auto;
    }
    .copy{
        margin-top: 200px;
    }
    .contact-icon{
        display: flex;
        margin-left: 0;
    }
}



/* rem and em do not depent on html font-sizein media queries
1rem=   1em =16px */
/*
-FOntsize(px)
10 / 12 / 14 / 16/ 18/ 20/24 / 30/ 36 /44 /52/62/74/86/98

- Spacing system
2/4/8/12/16/24/32 /48/64/80/96/128 */


@media (max-width: 768px){
    *{
        box-sizing: border-box;
    }
    .container{
        max-width: 768px;
        margin: 0 auto;
        width: 100%;
    }
    .containers{
        max-width: 768px;
        /* margin: 0; */
        width: 100%;
    }
    .container-1{
        max-width: 768px;
        width: 100%;
    }
    /* *{
        margin: 0;
        padding: 0;
    } */
    html {
        font-size: 50%;
      }
    .xl{
        display: none;
    }
    .md{
        display: block;
        width: 100%;
    }
 /*******************************/
 /******hero section****/
/*******************************/
.section-hero{
    padding: 5.6rem 0 3.5rem 0;
    }
    .hero-img{
        width: 100%;
        height: auto;
       
    }
      .back-btn{
        width: 5rem;
        height: 5rem;
        position: fixed;
        z-index: 100;
    }
    .header-text{
        display: none;
    }
 /*******************************/
 /******butterslide section****/
/*******************************/
    .section-butter{
        /* position: relative; */

    }
    .heading-primary{
        padding: 0;
        margin: 0;
        font-size: 4.8rem;
       
        text-shadow: 0px 0 black, 0 2px black, 2px 0 black, 0 3px black;

    }
    
 
    .rectz-img{
        float: right;
       
        height: auto;
    }
  
    .but-p-p{
        width: 52rem;
    }
    .butter-p{
      
        padding: 0;
        font-size: 1.8rem;
       font-family: "supply-light";
       letter-spacing: -0.5px;
       margin-top: 7px;
       width: 70%;
    }
    .grid{
        grid-template-columns: 1fr;
        row-gap: 28px;
        margin-top: 36px;
        padding-top: 0;
    }
    .but-pp{
        font-size: 2rem;
        display: flex;
        justify-content: center;
        padding: 35px 57px;
        border-radius: 14px;    
    }
   
    .arrow-img{
        width: auto;
        height: 36px;
        margin:12px 0; 
    }
    .yello{
        padding-top: 0.5rem;
        border-radius: 14px;
    }
 
  
    .learn-btn{
        font-size: 1.6rem;
        padding: 2.3vw 10.6vw;
        border: 1px solid black;
        border-radius: 1vw;
    }
    
/*******************************/
/******polygon section****/
/*******************************/


    .polygon{
       
        padding: 120px 0 60px 0;
        margin: 0 0 94px 0;
        position: relative;
       
    }
   
    .polygon-heading{
        font-size:3.6rem; 
        /* text-align: center; */
        margin: 0 0 10px 15px;
        margin-left: 15px;
    }
    .ul-head{
        font-size: 16px;
        margin:0;
        margin-left: 21px;
        margin-bottom: 28px;
    }
    .li-poly{
        margin:0 0 0 20px;
    }
    .li-poly::marker{
        font-size: 36px;
        
    }
    .span1{
        position: relative;
        left: -4px;
        bottom: 6px;
    }
    .lo-img{
        height: 159px;
        width: auto;
        position: absolute;
        top: 40px;
        right: 65px;
    }
   
   
/*******************************/
 /******NFT-black section****/
/*******************************/

    .nft-polygon{
        padding: 0;
        margin: 0;
        margin-left: 20px;
        margin-top: 42px;
     
        padding-bottom: 26px;
        
        position: relative;
         box-shadow: 12px 14px red;
         border-radius: 14px;

       
    }
    .nft-head{
        /* margin-top: 20px; */
        margin-left: 20px;
        font-size: 5.3rem;
        margin-bottom: 2rem;
        padding-top: 3rem;
    }
    .nft-flex{
        display: flex;
        
        margin: 0;
        column-gap: 2px;
        margin-top: 20px;
        margin-bottom: 28px;
      }
      .trans-img{
        height: 72px;
        width: auto;
      }
      .nft-text{
        font-size: 16px;
      }
      .nft{
        margin: 0;
      }
     
     
      .ex-mark{
        /* display: none; */
        font-size: 152px;
        position: absolute;
        top: -108px;
        text-shadow: 1.5px 3px #FFf;
      }


/***********************/
/*********scale********/
/***********************/
      .section-scale{
        padding: 0;
        padding-top: 62px;
        padding-bottom: 1px;

      }
    .scale-head{
        text-align: left;
    }
    .heading-scale{
    
        font-size: 4.9rem;
        margin-bottom: 2rem;

     }
    
     
     .p-scale{
        font-size: 1.8rem;
        margin-bottom: 4rem;

     }
     .foryou{
        background-color: #3D3C3C;
        width: fit-content;
        font-size: 1.6rem;
        font-family: "supply-bold";
        padding: 8px 42px 8px 18px;
        border-radius: 6px;
     }
   
    
     .bg-y{
        font-size: 1.2rem;
     }
     .bg-g{
        font-size: 1.2rem;
     }
     .ul-bg{
        padding: 26px 45px 22px 32px;
        font-size: 1.8rem;
    }
    .li-scale::marker{
        font-size: 3.5rem;
    }
    .li-scale{
        font-family: "supply-light";

    }
    .scale-li{
        position: relative;
        top: -2px;
        left: 4px;
    }
    .ul-1{
        display: block;
    }
    
  
/***********************/
/*********chief********/
/***********************/
    .section-chief{
    padding-top: 12rem;
    }
    .h1-when{
    font-size: 4.6rem;
    padding: 0.2px 4.2px;
    line-height: 1.3;

    }
    .chieful-d{
        margin-top: 38px;
    }
    .chief-ul{
        font-size: 1.8rem;
    }
    .li-chief::marker{
        font-size: 5rem;
    }
    .chief-flex{
        display: block;
        margin-top: 36px;

    }
    .span2{
        left: 0px;
        bottom: 8px;
    }
    .chief-img{
        width: 160px;
        margin-bottom: 2rem;
    }
    .chief-cont{
        display: flex;
    }
    .chief-name{
        font-size: 2.8rem;
        margin-bottom: 4px;
    }
    .role{
        font-size:1.8rem ;
        margin-bottom: 8px;
    }
    
    .twitter-img{
        width: auto;
        height: 32px;

    }
    .twitter{
        width: auto;
        height: 32px;
    }
    .bg-w{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  /***********************/
/*********footer********/
/***********************/

 
    .footer-reach{
        font-size: 2.4rem;
    text-align: center;
    margin-bottom: 18px;
    }
    .contact{
        font-size: 3.6rem;
        text-align: center;
        margin-bottom: 20px;
    }
    .foot-ul{
        font-size: 2rem;
        margin-bottom: 12px;
        line-height: 2;
    }
    .flex-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copy{
        font-size: 2rem;
        margin-top: 96px;
    }
    .contact-icon{
        /* margin-left: 97px; */
        /* padding: 0;
        padding-left: 92px; */
        display: flex;
        justify-content: center;
    }
    
    .icon-f{
        width: 24px;
        height: auto;
        
    }
    .foot-icon {
        height: auto;
        width: 28px;
        background-color: #fff;
        fill: #000000;
        border-radius: 50%;
        padding: 3px 26px 2px 3px;
    }
    
}